---

extends: default

ignore: |
  .ansible/
  .venv/
  .venv-docs/
  collections/

rules:
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no']
    ignore:
      - .github/workflows/
  line-length:
    max: 190
